.spin{
    animation: spin 30s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.rainbowLogInButton::before{
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50% 30%;
    filter: blur(6px);
    background-image: linear-gradient(#FFF);
    animation: rotate 4s ease-in-out infinite;
}

 @keyframes rotate {
    0% {
        transform: rotate(70deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(70deg);
    }
}