@import "tailwindcss";

:root {
  --color-bg: 255, 245, 252; /* blanco en RGB */
  --color-fg: 23, 23, 23;    /* negro en RGB */
  --color-border: 130, 130, 130;
  --secondary-color: 209, 144, 193;
  --backdrop-color: rgba(var(--color-bg),0.3);
}

[data-theme="dark"] {
  --color-bg: 18, 18, 19; 
  --color-fg: 237, 237, 237;
  --color-border: 143, 143, 143;
  --secondary-color: 87, 57, 79;
  --backdrop-color: rgba(var(--color-bg),0.6);

}

body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
  font-family: Arial, Helvetica, sans-serif;
}
